.table-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .table-row {
    display: flex;
        background-color: #F2F2F2;
        margin: 5px;


  }
  
  .table-header {
    font-weight: bold;
    background-color: #F4EDAF;
  }
  


  .table-cell {
    flex: 1;
    padding: 10px;
    text-align: left;
    background-color: #F2F2F2;
  }
  